<div class="parent">
  <div class="left">
    <div class="profile" *ngIf="!isLoading">
      <div>
        <h1>PROFILE</h1>
        <mat-spinner *ngIf="isImageLoading"></mat-spinner>
        <img
          [style.display]="isImageLoading ? 'none' : 'block'"
          (error)="changeDefaultUrl()"
          *ngIf="imageUrl"
          src="{{ imageUrl }}"
          (load)="onImageLoaded()"
          alt="Profile picture!"
        />
      </div>
      <div>
        <strong>Name</strong>
        <h3>{{ name }}</h3>
      </div>
      <div>
        <strong>Email</strong>
        <p>{{ email }}</p>
      </div>
      <div>
        <strong>Address</strong>
        <p>{{ address }}</p>
      </div>
      <div>
        <strong>Arrears</strong>
        <p>{{ arrears }}</p>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="!isLoading">
    <div class="activity">
      <h1>Recent activity</h1>
      <div class="parent2">
        <div class="card big-heading">
          <!-- <div>
            <strong>Type</strong>
          </div> -->

          <div>
            <strong>Date</strong>
          </div>
          <div>
            <strong>Amount</strong>
          </div>
          <div>
            <strong>Description</strong>
          </div>
        </div>

        <div class="card" *ngFor="let log of logs">
          <!-- <div>
            <p>{{ log.kind }}</p>
          </div> -->
          <div>
            <p>{{ log.fee.date.slice(4, 15) }}</p>
          </div>

          <div>
            <p>{{ log.fee.amount }}</p>
          </div>

          <div class="description-wrapper">
            <p>{{ log.fee.description }}</p>
          </div>
        </div>
      </div>
      <mat-paginator
        [length]="logs_count"
        [pageSize]="page_size"
        [pageSizeOptions]="page_size_options"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!-- <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner> -->
<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
