<div id="signup">
  <div class="wrapper">
    <form
      class="form"
      *ngIf="!isLoading"
      [formGroup]="form"
      class="form"
      (submit)="onSignUp()"
    >
      <h1>Member signup</h1>
      <div class="profile-pic">
        <img src="{{ imageUrl }}" alt="Profile picture!" />
        <input
          style="display: none"
          #inputImage
          type="file"
          accept="image/*"
          (change)="onImageUpload($event)"
        />
        <button
          class="upload"
          type="button"
          mat-stroked-button
          (click)="inputImage.click()"
        >
          Upload picture
        </button>
      </div>
      <div class="form-control">
        <p>Select society</p>
        <!-- <mat-select formControlName="societyId">
          <mat-option
            *ngFor="let society of societies"
            value="{{ society._id }}"
          >
            <p>{{ society.name }}</p>
          </mat-option>
          <mat-option *ngIf="societies.length == 0">
            <mat-error>No society had been registered!</mat-error>
          </mat-option>
        </mat-select> -->
        <button (click)="onSelectSociety()" mat-stroked-button type="button">
          {{
            selectedSociety
              ? selectedSociety.name
              : "- click here to select society -"
          }}
        </button>
      </div>

      <div class="form-control">
        <p>Enter your name</p>
        <input type="text" formControlName="name" />
      </div>

      <div class="form-control">
        <p>Enter your address</p>
        <textarea formControlName="address"></textarea>
      </div>

      <div class="form-control">
        <p>Enter your phone number</p>
        <input type="text" formControlName="phoneNumber" />
      </div>

      <div class="form-control">
        <p>Enter your email</p>
        <input type="email" formControlName="email" />
      </div>

      <div class="form-control conflic">
        <p>Enter your password</p>
        <div class="password-input">
          <input
            formControlName="password"
            type="password"
            [type]="hide ? 'password' : 'text'"
          />

          <div class="eye">
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'hide'"
              [attr.aria-pressed]="hide"
            ></button>

            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </div>
        </div>
      </div>

      <button
        class="button"
        [disabled]="!this.form.valid"
        type="submit"
        mat-raised-button
      >
        Signup
      </button>
    </form>
  </div>
</div>

<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
