/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #546e7a;
  --default-form-font-color: #546e7a;
  --default-form-backgroud: #e8f2fd;
  --light-form-font-color: #8c9ea7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
input,
button,
p {
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
  display: block;
  margin: auto;
}

mat-label {
  font-weight: 500;
  font-size: 16px;
}

.btn-green {
  color: green;
}

.warn {
  color: red;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.pdt-1 {
  padding-top: 10px;
}
