<div class="parent">
  <div *ngIf="members.length" class="card big-heading">
    <div>
      <strong>Profile</strong>
    </div>
    <div>
      <strong>Name</strong>
    </div>
    <div>
      <strong>Address</strong>
    </div>
    <div>
      <strong>Email</strong>
    </div>
    <div>
      <strong>Arrears</strong>
    </div>
    <div *ngIf="!isLoading">
      <strong>Action</strong>
    </div>
  </div>
  <p *ngIf="!members.length && !isLoading" class="warn">No members to show!</p>
  <div class="card" *ngFor="let member of members">
    <div>
      <div class="small-heading">
        <strong>Profile</strong>
      </div>
      <div>
        <div>
          <mat-spinner *ngIf="member.isLoading"></mat-spinner>
          <img
            [style.display]="member.isLoading ? 'none' : 'block'"
            src="{{ member.imageUrl }}"
            alt="member image"
            (error)="changeDefaultUrl(member)"
            (load)="onImageLoaded(member)"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="small-heading">
        <strong>Name</strong>
      </div>
      <p>{{ member.name }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Address</strong>
      </div>
      <p>{{ member.address }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Email</strong>
      </div>
      <p>{{ member.email }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Arrears</strong>
      </div>
      <p>{{ member.arrears }}</p>
    </div>
    <div class="actions" *ngIf="!isLoading">
      <button mat-button color="primary" (click)="onEditClick(member)">
        Edit
      </button>
      <button
        *ngIf="!member.approved"
        mat-button
        class="btn-green"
        (click)="onApproveMember($event, member._id)"
      >
        Approve
      </button>
      <button
        *ngIf="member.approved"
        mat-button
        color="warn"
        (click)="onDisApproveMember($event, member._id)"
      >
        Disapprove
      </button>
      <button
        mat-button
        color="warn"
        (click)="onDeleteMember($event, member._id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<mat-spinner
  [ngStyle]="loadingCSS"
  *ngIf="isLoading"
  class="spinner"
></mat-spinner>
