<form>
  <h1>Create or edit monthly fees</h1>
  <p>Edit monthly fees.</p>
  <mat-form-field appearance="outline">
    <input
      #ngMonthlyFee="ngModel"
      matInput
      required
      name="monthly_fee"
      type="number"
      pattern="[0-9]{1,5}"
      [(ngModel)]="monthFee"
    />
  </mat-form-field>
  <div>
    <p *ngIf="!ngMonthlyFee.valid" class="warn">Invalid amount!</p>
  </div>
  <p>Edit descripton.</p>
  <mat-form-field appearance="outline">
    <textarea
      #ngDescription="ngModel"
      matInput
      required
      type="text"
      name="description"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>
  <div>
    <p
      *ngIf="ngDescription.value ? ngDescription.value.length > 100 : true"
      class="warn"
    >
      Invalid description!
    </p>
  </div>

  <div mat-dialog-actions>
    <button
      type="submit"
      [disabled]="
        !ngMonthlyFee.valid ||
        ngMonthlyFee.value < 20 ||
        !ngDescription.valid ||
        ngDescription.value.length > 100
      "
      mat-raised-button
      color="primary"
      [mat-dialog-close]="{ monthFee: monthFee, description: description }"
    >
      Done
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
