<form>
  <p>Enter monthly fees.</p>
  <mat-form-field>
    <input
      #ngMonthlyFee="ngModel"
      matInput
      required
      name="monthly_fee"
      type="number"
      pattern="[0-9]{1,5}"
      [(ngModel)]="monthFee"
    />
  </mat-form-field>
  <p *ngIf="!ngMonthlyFee.valid" class="warn">Invalid amount!</p>
  <br />
  <p>Enter descripton.</p>
  <mat-form-field>
    <textarea
      #ngDescription="ngModel"
      matInput
      required
      type="text"
      name="description"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>
  <p
    *ngIf="ngDescription.value ? ngDescription.value.length > 100 : false"
    class="warn"
  >
    Invalid description!
  </p>
  <br />
  <p>You can edit your default monthly fees and description if you want.</p>

  <div mat-dialog-actions>
    <button
      type="submit"
      [disabled]="
        !ngMonthlyFee.valid ||
        ngMonthlyFee.value < 20 ||
        !ngDescription.valid ||
        ngDescription.value.length > 100
      "
      mat-raised-button
      color="primary"
      [mat-dialog-close]="{ monthFee: monthFee, description: description }"
    >
      Done
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
