<form *ngIf="!isLoading" [formGroup]="form" class="form" (submit)="onSignUp()">
  <h1>Society signup</h1>

  <div class="profile-pic">
    <img src="{{ imageUrl }}" alt="Profile picture!" />
    <input
      style="display: none;"
      #inputImage
      type="file"
      (change)="onImageUpload($event)"
    />
    <br />
    <button type="button" mat-stroked-button (click)="inputImage.click()">
      Upload picture
    </button>
    <br />
  </div>
  <div class="input-wrapper">
    <p>Enter society's email</p>
    <mat-form-field appearance="outline">
      <input formControlName="email" matInput />
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <p>Enter scoiety's registration number</p>

    <mat-form-field appearance="outline">
      <input formControlName="regNo" matInput />
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <p>Enter society's name</p>

    <mat-form-field appearance="outline">
      <input formControlName="name" matInput />
    </mat-form-field>
  </div>
  <div class="input-wrapper">
    <p>Enter society's address</p>

    <mat-form-field appearance="outline">
      <textarea formControlName="address" rows="4" matInput></textarea>
    </mat-form-field>
  </div>
  <div class="input-wrapper">
    <p>Enter society's phone number</p>

    <mat-form-field appearance="outline">
      <input formControlName="phoneNumber" matInput />
    </mat-form-field>
  </div>
  <div class="input-wrapper">
    <p>Enter society's password!</p>

    <mat-form-field appearance="outline">
      <input formControlName="password" type="password" matInput />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary">Signup</button>
</form>
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
