<form *ngIf="!isLoading" [formGroup]="form" class="form" (submit)="onSignUp()">
  <h3>SOCIETY SIGNUP</h3>

  <div class="profile-pic">
    <img src="{{ imageUrl }}" alt="Profile picture!" />
    <input
      style="display: none;"
      #inputImage
      type="file"
      (change)="onImageUpload($event)"
    />
    <br />
    <button mat-stroked-button (click)="inputImage.click()">
      UPLOAD PICTURE!
    </button>
    <br />
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Enter society's email!</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter scoiety's registration number!</mat-label>
    <input formControlName="regNo" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter society's name!</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter society's address!</mat-label>
    <textarea formControlName="address" rows="4" matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter society's phone number!</mat-label>
    <input formControlName="phoneNumber" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter society's password!</mat-label>
    <input formControlName="password" type="password" matInput />
  </mat-form-field>

  <button mat-raised-button color="primary">SIGNUP</button>
</form>
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
