* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
}

nav > .right {
  flex: 1;
}

nav .right ul {
  justify-content: space-between;
}

nav > .left {
  flex: 1;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem;
  display: inline-block;
  width: 100%;
}

nav > .right > ul > li > button {
  color: #fff;
  background-color: inherit;
  border: none;
  width: 100%;
  /* padding: 0.75rem; */
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav > .right > ul > li > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#logout {
  display: none;
}

#members {
  display: none;
}

@media (max-width: 920px) {
  nav {
    display: block;
  }

  nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black;
  }

  nav .left ul {
    width: 100%;
    display: block;
  }

  nav .left ul li {
    width: 100%;
  }

  nav .left ul li a {
    text-align: center;
    width: 100%;
  }

  nav .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav .right ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav .right ul li {
    width: 100%;
    flex: 1;
  }

  nav .right ul li a {
    width: 100%;
  }
  nav .right ul li button {
    width: 100%;
    font-weight: normal;
  }
}

@media (max-width: 420px) {
  nav div ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav div ul li {
    width: 100%;
  }
  nav div ul li a {
    width: 100%;
  }
  nav div ul li button {
    width: 100%;
  }
}

.mat-accent {
  background-color: rgba(0, 0, 0, 0.5);
}
