<mat-dialog-content id="login">
  <div class="wrapper">
    <form
      class="form"
      [formGroup]="form"
      class="form"
      (submit)="onResetPassword()"
    >
      <h1>Enter your new password</h1>

      <div class="password-input">
        <input
          formControlName="password"
          type="password"
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
        />

        <div class="eye">
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'hide'"
            [attr.aria-pressed]="hide"
          ></button>

          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </div>
      </div>

      <div class="actions">
        <button
          class="button"
          mat-raised-button
          [disabled]="form.invalid"
          type="submit"
        >
          Reset
        </button>
        <button
          [mat-dialog-close]="false"
          class="button warn"
          mat-raised-button
          type="button"
        >
          Cancel
        </button>
      </div>
    </form>

    <div *ngIf="isLoading" class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-dialog-content>
