.parent {
  display: flex;
}

input {
  padding: 5px;
}

.left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  width: 40%;
  /* text-align: center; */
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* button {
  background-color: #546e7a;
  color: #fff;
} */

@media (max-width: 500px) {
  .profile img {
    width: 150px;
    height: 150px;
  }
}

.right {
  width: 100%;
  padding: 2rem;
}

.right .action-buttons {
  display: flex;
  flex-wrap: wrap;
}

.right .action-buttons button {
  margin-right: 20px;
  margin-bottom: 15px;
}

.right .activity {
  margin-top: 20px;
}

.parent2 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.25rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.card:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

/* .card:first-child {
  border-top: 1px solid;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

.card > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  flex: 2;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.card .small {
  flex: 1;
}

.card > div:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.big-heading {
  margin-bottom: 10px;
}

.big-heading > div {
  min-height: auto;
}

.card > div p {
  margin: 0;
}

.card div i {
  margin: 10px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-wrapper > div {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.fa-edit {
  color: green;
  /* padding: 5px; */
}

.description-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.description-wrapper p {
  flex: 4;
}

.description-wrapper div {
  flex: 1;
}

.fa-trash-alt {
  color: red;
  /* padding: 5px; */
}

.fa-edit:hover {
  cursor: pointer;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  /* font-size: 18px;
  font-weight: 900; */
  transform: scale(2);
}

.fa-bars:hover {
  cursor: pointer;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  /* font-weight: 900;
  font-size: 18px; */
  transform: scale(2);
}

.fa-trash-alt:hover {
  cursor: pointer;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  /* font-weight: 900;
  font-size: 18px; */
  transform: scale(2);
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

mat-form-field {
  width: 100px;
}

/* button:hover {
  color: #dadada;
} */

.page-wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .action-wrapper > div {
    width: 80px;
  }

  .card div i {
    margin: 7px;
  }
}

@media (max-width: 792px) {
  .parent {
    flex-direction: column;
  }

  .parent .left {
    width: 100%;
    padding: 20px;
  }

  .parent .right {
    padding: 20px;
  }

  .parent .left .profile {
    display: flex;
    /* padding: 18px; */
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  /* .profile-inner-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
  } */

  /* .profile-inner-left img {
    width: 150px;
    height: 150px;
  } */

  /* .profile-inner-right {
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 4;
  } */

  /* .profile-inner-right div {
    width: 90%;
  } */
}

@media (max-width: 650px) {
  .parent .left .profile img {
    width: 150px;
    height: 150px;
  }

  .parent .left .profile {
    flex-direction: column;
  }

  /* .profile-inner-left {
    text-align: start;
    align-items: center;
  } */

  /* .profile-inner-right {
    padding: 40px 0;
    margin: 0;
    grid-template-columns: repeat(3, auto);
  } */

  /* .profile-inner-right div {
    word-wrap: break-word;
  } */

  .profile {
    width: 100%;
  }

  .action-wrapper > div {
    width: auto;
  }

  .action-wrapper > div {
    display: flex;
    flex-direction: column;
  }
}

/* @media (max-width: 500px) {
  .profile-inner-right {
    grid-template-columns: repeat(2, auto);
  }
} */

/* @media (max-width: 400px) {
  .profile-inner-right {
    padding: 10px 18px;
    grid-template-columns: repeat(1, auto);
  }

  .profile-inner-right div {
    width: 100%;
  }
} */

@media (max-width: 350px) {
  .right .action-buttons button {
    margin: 10px 5px !important;
  }
}
