<div class="parent" *ngIf="society">
  <div class="left">
    <div class="profile">
      <div class="profile-inner-left">
        <h1>Profile</h1>
        <p *ngIf="this.society ? false : true" class="warn">
          Profile not exist!
        </p>
        <mat-spinner
          *ngIf="society ? society.isImageLoading : false"
        ></mat-spinner>
        <img
          [style.display]="society.isImageLoading ? 'none' : 'block'"
          *ngIf="society"
          src="{{ society.imageUrl }}"
          alt="Profile picture!"
          (error)="changeDefaultUrl()"
          (load)="onImageLoaded()"
        />
      </div>
      <div *ngIf="society" class="profile-inner-right">
        <div>
          <strong>Name</strong>
          <h3>{{ society.name }}</h3>
        </div>
        <div>
          <strong>Email</strong>
          <p>{{ society.email }}</p>
        </div>
        <div>
          <strong>Address</strong>
          <p>{{ society.address }}</p>
        </div>
        <div>
          <strong>Registration number</strong>
          <p>{{ society.regNo }}</p>
        </div>
        <div>
          <strong>Current income</strong>
          <p>{{ society.current_income }}</p>
        </div>
        <div>
          <strong>Expected income</strong>
          <p>{{ society.expected_income }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="actions">
      <h1>Society actions</h1>
      <div class="action-buttons">
        <button
          [disabled]="this.society ? !this.society.number_of_members : true"
          mat-raised-button
          color="primary"
          (click)="addMonthlyFee()"
        >
          Add monthly fees
        </button>
        <button
          [disabled]="this.society ? !this.society.number_of_members : true"
          mat-raised-button
          color="primary"
          (click)="addExtraFee()"
        >
          Add extra fees
        </button>
      </div>
      <p
        *ngIf="
          this.society ? !this.society.number_of_members && !isLoading : true
        "
        class="warn"
      >
        There is no member to perform these actions!
      </p>
    </div>

    <div class="activity">
      <h1>Recent society activity</h1>
      <div class="parent2">
        <div class="card big-heading">
          <!-- <div>
            <strong>Type</strong>
          </div> -->

          <div>
            <strong>Date</strong>
          </div>
          <div>
            <strong>Amount</strong>
          </div>
          <div>
            <strong>Description</strong>
          </div>
        </div>
        <div
          class="warn pdt-1"
          *ngIf="
            (logs ? logs.length < 1 : false) ||
            (this.society
              ? !this.society.number_of_members && !isLoading
              : true)
          "
        >
          <p>No recent activities to view!</p>
        </div>
        <div class="card" *ngFor="let log of logs">
          <!-- <div>
            <p>{{ log.kind }}</p>
          </div> -->
          <div>
            <p>{{ log.fee.date.slice(4, 15) }}</p>
          </div>

          <div>
            <p>{{ log.fee.amount }}</p>
          </div>

          <div class="description-wrapper">
            <p>{{ log.fee.description }}</p>
            <div>
              <i (click)="onMonthFeeLogEdit(log._id)" class="far fa-edit"> </i>
              <i *ngIf="log.kind !== 'MonthFee'" class="far fa-trash-alt"></i>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator
        [length]="logs_count"
        [pageSize]="page_size"
        [pageSizeOptions]="page_size_options"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
