<div class="parent">
  <div class="left">
    <div class="profile" *ngIf="!isLoading">
      <div>
        <h1>Profile</h1>
        <img
          *ngIf="imageUrl"
          src="{{ backeEndBaseUrl + imageUrl }}"
          alt="Profile picture!"
        />
      </div>
      <div>
        <strong>Name</strong>
        <h3>{{ name }}</h3>
      </div>
      <div>
        <strong>Email</strong>
        <p>{{ email }}</p>
      </div>
      <div>
        <strong>Address</strong>
        <p>{{ address }}</p>
      </div>
      <div>
        <strong>Registration number</strong>
        <p>{{ regNo }}</p>
      </div>
      <div>
        <strong>Current income</strong>
        <p>{{ current_income }}</p>
      </div>
      <div>
        <strong>Expected income</strong>
        <p>{{ expected_income }}</p>
      </div>
    </div>
  </div>

  <div class="right" *ngIf="!isLoading">
    <div class="actions">
      <h1>Society actions</h1>
      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="addMonthlyFee()">
          Add monthly fees
        </button>
        <button mat-raised-button color="primary" (click)="addExtraFee()">
          Add extra fees
        </button>
      </div>
    </div>

    <div class="activity">
      <h1>Recent society activity</h1>
      <div class="parent2">
        <div class="card big-heading">
          <div>
            <strong>Type</strong>
          </div>
          <div>
            <strong>Ammount</strong>
          </div>
          <div>
            <strong>Description</strong>
          </div>
          <div>
            <strong>Date</strong>
          </div>
        </div>
        <div class="card" *ngFor="let log of logs">
          <div>
            <p>{{ log.kind }}</p>
          </div>
          <div>
            <p>{{ log.fee.amount }}</p>
          </div>
          <div>
            <p>{{ log.fee.description }}</p>
          </div>
          <div>
            <p>{{ log.fee.date.slice(4, 15) }}</p>
          </div>
        </div>
      </div>
      <mat-paginator
        [length]="20"
        [pageSize]="10"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
