.parent {
  display: flex;
}

.left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  width: 40%;
  /* text-align: center; */
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .profile img {
    width: 80%;
  }
}

.right {
  width: 100%;
  padding: 2rem;
}

.right .action-buttons {
  display: flex;
  flex-wrap: wrap;
}

.right .action-buttons button:not(:first-child) {
  margin-left: 20px;
}

.right .activity {
  margin-top: 50px;
}

.parent2 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.25rem;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card div {
  padding: 0.25rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card div {
  flex: 1;
}

mat-form-field {
  width: 100px;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
