<form>
  <p>Enter extra fees.</p>
  <mat-form-field>
    <input
      #ngExtraFee="ngModel"
      matInput
      required
      name="extra_fee"
      type="number"
      [(ngModel)]="extraFee"
      pattern="[0-9]{1,5}"
    />
  </mat-form-field>
  <p *ngIf="!ngExtraFee.valid" class="warn">Invalid amount!</p>
  <br />
  <p>Enter descripton.</p>
  <mat-form-field>
    <textarea
      #ngDescription="ngModel"
      name="description"
      matInput
      required
      type="text"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>
  <p
    *ngIf="ngDescription.value ? ngDescription.value.length > 100 : false"
    class="warn"
  >
    Invalid description!
  </p>
  <br />

  <p>You can edit default description if you want.</p>
  <div mat-dialog-actions>
    <button
      [disabled]="
        !ngExtraFee.valid ||
        !ngDescription.valid ||
        ngExtraFee.value < 20 ||
        ngDescription.value.length > 100
      "
      mat-raised-button
      color="primary"
      [mat-dialog-close]="{ extraFee: extraFee, description: description }"
    >
      Done
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
