<div class="parent">
  <p class="warn" *ngIf="societies.length < 1 && !isLoading">
    No societies registered yet!
  </p>
  <div *ngIf="societies.length > 0" class="card big-heading">
    <div>
      <strong>Profile</strong>
    </div>
    <div>
      <strong>Name</strong>
    </div>
    <div>
      <strong>Adress</strong>
    </div>
    <div>
      <strong>Registration number</strong>
    </div>
    <div>
      <strong>Email</strong>
    </div>
    <div>
      <strong>Phone number</strong>
    </div>
    <div>
      <strong>Actions</strong>
    </div>
  </div>
  <div class="card" *ngFor="let society of societies">
    <div>
      <div class="small-heading">
        <strong>Profile</strong>
      </div>
      <mat-spinner *ngIf="society.isImageLoading"></mat-spinner>
      <img
        [style.display]="society.isImageLoading ? 'none' : 'block'"
        src="{{ society.imageUrl }}"
        alt="society image"
        (error)="changeDefaultUrl(society)"
        (load)="onImageLoaded(society)"
      />
    </div>
    <div>
      <div class="small-heading">
        <strong>Name</strong>
      </div>
      <p>{{ society.name }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Adress</strong>
      </div>
      <p>{{ society.address }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Registration number</strong>
      </div>
      <p>{{ society.regNo }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Email</strong>
      </div>
      <p>{{ society.email }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>Phone number</strong>
      </div>
      <p>{{ society.phoneNumber }}</p>
    </div>
    <mat-spinner *ngIf="society.isActionLoading"></mat-spinner>
    <div *ngIf="!society.isActionLoading">
      <button
        *ngIf="!society.approved"
        mat-button
        class="btn-green"
        (click)="onApproveSociety(society)"
      >
        Approve
      </button>
      <button
        *ngIf="society.approved"
        mat-button
        color="warn"
        (click)="onDisApproveSociety(society)"
      >
        Disapprove
      </button>
    </div>
  </div>
</div>
<!-- <mat-spinner
  [ngStyle]="loadingCSS"
  *ngIf="isLoading"
  class="spinner"
></mat-spinner> -->
<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner></mat-spinner>
</div>
