<!-- <mat-tab-group> -->
<!-- <mat-tab label="Fine"> -->
<form>
  <p>Enter the fine amount.</p>
  <mat-form-field>
    <input
      #ngFine="ngModel"
      matInput
      required
      name="fine"
      type="number"
      ngModel
    />
  </mat-form-field>
  <p
    *ngIf="
      (!ngFine.valid && ngFine.dirty) || (ngFine.dirty && ngFine.value < 20)
    "
    class="warn"
  >
    Invalid amount!
  </p>
  <br />
  <p>Enter descripton.</p>
  <mat-form-field>
    <textarea
      #ngFineDescription="ngModel"
      matInput
      required
      type="text"
      name="description"
      ngModel
    ></textarea>
  </mat-form-field>
  <p
    *ngIf="
      (ngFineDescription.value
        ? ngFineDescription.value.length > 100 ||
          ngFineDescription.value.length < 10
        : false) ||
      (ngFineDescription.invalid && ngFineDescription.dirty)
    "
    class="warn"
  >
    Invalid description!
  </p>
  <br />
  <!-- </mat-tab> -->
  <!-- </mat-tab-group> -->
  <div mat-dialog-actions>
    <button
      [disabled]="
        ngFine.invalid ||
        ngFineDescription.invalid ||
        ngFineDescription.value.length > 100 ||
          ngFineDescription.value.length < 10
      "
      type="submit"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
    >
      Done
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
