<div class="parent">
  <div class="warn pdt-1" *ngIf="!members">
    <p>No members to show now!</p>
  </div>

  <div class="card big-heading" *ngIf="members">
    <div>
      <strong>PROFILE</strong>
    </div>
    <div>
      <strong>NAME</strong>
    </div>
    <div>
      <strong>ADDRESS</strong>
    </div>
    <div>
      <strong>EMAIL</strong>
    </div>
    <div>
      <strong>ARREARS</strong>
    </div>
  </div>
  <div class="card" *ngFor="let member of members">
    <div>
      <div class="small-heading">
        <strong>PROFILE</strong>
      </div>
      <mat-spinner *ngIf="member.isImageLoading"></mat-spinner>
      <img
        [style.display]="member.isImageLoading ? 'none' : 'block'"
        src="{{ member.imageUrl }}"
        alt="member image"
        (error)="changeDefaultUrl(member)"
        (load)="onImageLoaded(member)"
      />
    </div>
    <div>
      <div class="small-heading">
        <strong>NAME</strong>
      </div>
      <p>{{ member.name }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>ADDRESS</strong>
      </div>
      <p>{{ member.address }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>EMAIL</strong>
      </div>
      <p>{{ member.email }}</p>
    </div>
    <div>
      <div class="small-heading">
        <strong>ARREARS</strong>
      </div>
      <p>{{ member.arrears }}</p>
    </div>
  </div>
</div>
<!-- <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner> -->
<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
