@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

h1,
h2,
input,
button,
p {
  font-family: "IBM Plex Mono", monospace;
}

input:focus {
  outline: none;
}

#login .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #546e7a;
}

#login .wrapper .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dfe7ff;
  padding: 40px;
  border-radius: 30px;
}

#login .wrapper .form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#login .wrapper .form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #8c9ea7;
}

#login .wrapper .form input {
  width: 256px;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  font-weight: 600;
  background-color: #e6eef8;
  border-radius: 10px;
  box-shadow: 0px 1px 6px #546e7a inset;
}

#login .wrapper .form p {
  font-size: var(--default-font-size);
}

#login .wrapper .form button {
  margin-bottom: 20px;
  border: none;
  color: #fff;
  border-radius: 10px;
}

#login .wrapper .form .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#login .wrapper .form .icons .category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login .wrapper .form .icons .category p {
  margin-top: 5px;
  font-size: 0.9rem;
}

#login .wrapper .form .icons .decorator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe7ff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#login .wrapper .form .icons .active {
  transform: scale(1.1);
  background-color: #fff;
}

#login .wrapper .form .icons .decorator:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #f2f6fa;
}

#login .wrapper .form .icons i {
  font-size: 2.5rem;
}

.password-input {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.password-input > input {
  margin: 0 !important;
  padding-right: 20px;
}

.password-input .eye {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.password-input .eye > button,
.password-input .eye > mat-icon {
  position: absolute;
}

.password-input .eye > button {
  z-index: 2;
  margin: 0 !important;
  padding: 0 !important;
}
