<form *ngIf="!isLoading" [formGroup]="form" class="form" (submit)="onLogin()">
  <h1>User login</h1>

  <div class="input-wrapper">
    <p>Enter your email</p>
    <mat-form-field appearance="outline">
      <input formControlName="email" matInput />
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <p>User category</p>
    <mat-form-field appearance="fill">
      <mat-select formControlName="category">
        <mat-option value="member">Member</mat-option>
        <mat-option value="society">Society</mat-option>
        <mat-option value="developer">Developer</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <p>Enter your password</p>
    <mat-form-field appearance="outline">
      <input formControlName="password" type="password" matInput />
    </mat-form-field>
  </div>

  <div>
    <p>Forgot your password? click <a href="#">here</a></p>
  </div>

  <button type="submit" mat-raised-button color="primary">Login</button>

  <div class="extra">
    <p>Don't have an account? click <a href="#">here</a></p>
  </div>
</form>
<!-- <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner> -->
<div *ngIf="isLoading" class="page-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
