<form *ngIf="!isLoading" [formGroup]="form" class="form" (submit)="onLogin()">
  <h3>USER LOGIN</h3>

  <mat-form-field appearance="outline">
    <mat-label>Enter your email!</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>User category!</mat-label>
    <mat-select formControlName="category">
      <mat-option value="normalUser">NORMAL USER</mat-option>
      <mat-option value="administrator">ADMINISTRATOR</mat-option>
      <mat-option value="superUser">SUPER USER</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password!</mat-label>
    <input formControlName="password" type="password" matInput />
  </mat-form-field>

  <div>
    <p>Forgot your password? click <a href="#">here!</a></p>
  </div>

  <button mat-raised-button color="primary">LOGIN</button>

  <div class="extra">
    <p>Don't have an account? click <a href="#">here!</a></p>
  </div>
</form>
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
