<div mat-dialog-title>
  <p>Select your society</p>
</div>

<mat-dialog-content>
  <div
    [mat-dialog-close]="society"
    class="card"
    *ngFor="let society of societies"
  >
    <p>{{ society.name }}</p>
  </div>

  <p class="warn" *ngIf="!isLoading && !societies.length">
    Currently there is no society registered!
  </p>
</mat-dialog-content>

<div class="spinner">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div mat-dialog-actions class="actions">
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">
    Close
  </button>
</div>
