<form>
  <h1>Create or edit donation</h1>
  <p>Edit donation.</p>
  <mat-form-field appearance="outline">
    <input
      #ngDonation="ngModel"
      matInput
      required
      name="extra_fee"
      type="number"
      [(ngModel)]="donation"
      pattern="[0-9]{1,5}"
    />
  </mat-form-field>
  <div>
    <p *ngIf="!ngDonation.valid || ngDonation.value < 20" class="warn">
      Invalid amount!
    </p>
  </div>
  <p>Edit descripton.</p>
  <mat-form-field appearance="outline">
    <textarea
      #ngDescription="ngModel"
      name="description"
      matInput
      required
      type="text"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>
  <div>
    <p
      *ngIf="
        ngDescription.value
          ? ngDescription.value.length > 100 || ngDescription.value.length < 5
          : true
      "
      class="warn"
    >
      Invalid description!
    </p>
  </div>

  <div mat-dialog-actions>
    <button
      [disabled]="
        !ngDonation.valid ||
        !ngDescription.valid ||
        ngDonation.value < 20 ||
        ngDescription.value.length > 100 ||
        ngDescription.value.length < 5
      "
      mat-raised-button
      color="primary"
      [mat-dialog-close]="{ donation: donation, description: description }"
    >
      Done
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
